<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Bairro</th>
            <th scope="col">Estado</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>João Silva</td>
            <td>Centro</td>
            <td>São Paulo</td>
            <td>
                <!-- botao que leva para a pagina de editar -->
                <a href="/editar/1" class="btn btn-primary col-4">Editar</a>

                <button type="button" class="btn btn-danger col-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Excluir
                </button>


                <!-- Modal -->
                <div class="modal fade -dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Exclusão de Conta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tenha certeza de que esta conta é a que você deseja excluir, pois após a exclusão o cadastro será perdido para sempre!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger">Excluir</button>
                    </div>
                    </div>
                </div>
                </div>


                {{!-- esse é o botao antigo de excluir <a href="/deletar/1" class="btn btn-danger col-4">Excluir</a>  --}}
            </td>
        </tr>
    </tbody>
</table>
