<p style="text-align: left; font-weight: bold">Os campos marcados com * são obrigatórios, os demais são de preenchimento automático</p>

<form method="POST" action="/cadastrar" id="form" name="form" >
    <div style="text-align: left;" class="col-md-6">
        <label for="inputEmail4" class="form-label">Primeiro Nome*</label>
        <input autofocus type="text" placeholder="ex: Alex" class="form-control" name="nome" required id="nome">
    </div>

    <div style="text-align: left;" class="col-md-6">
        <label for="inputEmail4" class="form-label">Email*</label>
        <input type="email" placeholder="example@gmail.com" class="form-control" name="email" required id="email">
    </div>

    <div style="text-align: left;" class="col-md-6">
        <label for="inputCep4" class="form-label">CEP*</label>
        <input type="text" maxlength="9" class="form-control" name="cep" required id="cep" placeholder="13483-000">
    </div>

    <div style="text-align: left;" class="col-md-6">
        <label for="inputBairro4" class="form-label">Bairro</label>
        <input type="text" placeholder="Preenchimento automático" readonly class="form-control" name="bairro" required id="bairro">
    </div>

    <div style="text-align: left;" class="col-md-6">
        <label for="inputEndereco4" class="form-label">Endereço</label>
        <input type="text" placeholder="Preenchimento automático" readonly class="form-control" name="endereco" required id="endereco">
    </div>

    <div style="text-align: left;" class="col-md-6">
        <label for="inputCidade4" class="form-label">Cidade</label>
        <input type="text" placeholder="Preenchimento automático" readonly class="form-control" name="cidade" required id="cidade">
    </div>

    <div style="text-align: left;" class="col-md-6">
        <label for="inputState" class="form-label">Estado</label>
        <input type="text" placeholder="Preenchimento automático" readonly class="form-control" name="estado" required id="estado">
    </div>

    <div style="text-align: left;" class="col-12">
        <button type="submit" id="btnCadastrar" class="btn btn-dark">Cadastrar</button>
    </div>
</form>