<div class="text-center mt-auto py-3">
 <h1 class="titulo">Projeto</h1>
 </p>
 <h5 class="titulo-h4">O projeto de cadastro de usuários em Node.js com o auxílio do Nodemon
    visa oferecer uma solução eficiente e moderna para gerenciar informações de usuários
    em uma aplicação web. Utilizando uma arquitetura bem definida, os modelos estruturam
    as tabelas do banco de dados, o servidor estabelece a conexão com o banco e 
    o ambiente, enquanto o arquivo app.js controla as rotas e operações CRUD.
    As views e layouts garantem a consistência visual, facilitando o desenvolvimento 
    e manutenção do sistema. Com o monitoramento contínuo do Nodemon, torna-se mais fácil
    e ágil realizar alterações no projeto, garantindo uma experiência de desenvolvimento fluida.</h5>
</div>

<div class="text-center mt-auto py-3">
    <h1 class="titulo">Programadores</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="../public/img/eliel.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Eliel Godoy</h5>
        <p class="card-text">Eu e o Cardoso ficamos encarregados de desenvolver o backend do projeto.</p>
            
            <div class="sm d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/eliel-godoy/"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/EGGzin0402"><i class="bi bi-github"></i></a>
            </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../public/img/cardoso.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Victor Cardoso</h5>
        <p class="card-text">Eu e o Eliel ficamos encarregados de desenvolver o backend do projeto.</p>
            <div class="sm d-flex justify-content-center">
               <a href="https://www.linkedin.com/in/victorncardoso/"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/vek03"><i class="bi bi-github"></i></a>
            </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../public/img/juan.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Juan Farias</h5>
        <p class="card-text">Eu e o Roma ficamos encarregados de desenvolver o frontend do projeto.</p>
            <div class="sm d-flex justify-content-center">
               <a href="https://www.linkedin.com/in/juan-farias-da-rocha/"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/juan9321"><i class="bi bi-github"></i></a>
            </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../public/img/roma.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Victor Roma</h5>
        <p class="card-text">Eu e o Juan ficamos encarregados de desenvolver o frontend do projeto. </p>
            <div class="sm d-flex justify-content-center">
                <a href="https://www.instagram.com/vitu.roma"><i class="bi bi-instagram"></i></a>
                    <a href="https://github.com/VictordRoma?tab=repositories"><i class="bi bi-github"></i></a>
            </div>
      </div>
    </div>
  </div>
</div>
