.form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #16161A;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #FFFFFE;
}
.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FFFFFE;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #3d3d3d;
}

.card-login > h1 {
    color: #094067;
    font-weight: 800;
    margin: 0;
}


.registro-texto {
    text-align: left;
}



.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #6782AA;
    color: #FFFFFE;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #094067;
    font-size: medium;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #FFFFFE;
    background: #536F98;
    cursor: pointer;
    box-shadow: 0px 10px 20px -12px #25252552;
}

.btn-login:hover{
    background: #304058;
    
}

@media only screen and (max-width: 950px) {
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }
}