<head>
    <style>
        body {
            background: #dedede;
        }
        .page-wrap {
            min-height: 100vh;
        }
    </style>
</head>

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">{{error}}</span>
                <div class="mb-4 lead">{{textError}}</div>
                <a href="/" class="btn btn-link">Voltar</a>
            </div>
        </div>
    </div>
</div>